@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
  background: #EEF9BF;
  color: #75B79E;
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  font-weight: 700;
  padding: 0 20px;
  text-align: center;
}

header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 150px;
  justify-content: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #A7E9AF;
  background-image: url("../images/front.png");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: 100px;
  border: 1px solid #99CEA8;
  border-radius: 5px;
  height: 146px;
  margin: 0 17px 34px 17px;
  width: 117px;
}

@media (max-width: 600px){
  body {
    font-size: 36px;
  }
}
