@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    background: #EEF9BF;
    color: #75B79E;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 700;
    padding: 0 20px;
    text-align: center;
}

header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    justify-content: center;
    /* position: relative; */
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    background-color: #75B79E;
    border-radius: 5px;
    color: #f1f7f5; 
    font-size: 22px;
    padding: 5px;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 1;
}

.card {
    height: 146px;
    margin: 0 17px 34px 17px;
    position: relative;
    width: 117px;
}

.card img {
    width: 85%;
}

.face {
    align-items: center;
    backface-visibility: hidden;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    transform-style: preserve-3d;
    transition: all .5s;
    width: 100%;
}

/* keep card face down */
.back-face {
    transform: rotateY(180deg);
}

/* turn card effect */
.turn {
    transform: rotateY(-180deg);
}

/* reveal and hold card's face effect */
.hold {
    transform: rotateY(0deg);
}

@media (max-width: 600px){
    body {
        font-size: 36px;
    }
}

@media (max-width: 388px){
    .box {
        font-size: 15px;
    }
}

@media (max-width: 244px){
    .box {
        top: 0;
    }
}